<div class="w-full h-full  flex-1 bg-white dark:bg-gray-900 max-h-full overflow-x-hidden overflow-y-scroll">
    <div class="container px-5 py-10 h-full mx-auto">
        <h1 class="text-2xl font-semibold font-sans mb-7">Settings</h1>

        <div class="buttons flex border-b dark:border-gray-500 mb-4">
            <button routerLink="user-settings"  class="px-1 py-4  text-sm font-bold
             font-sans border-b-[3px] hover:border-blue-500 border-transparent  -mb-0.5 transition-colors mr-2
             hover:text-gray-900 dark:hover:text-white text-gray-700 dark:text-gray-400" routerLinkActive="text-gray-900 border-blue-500 dark:text-white">
                User Settings
            </button>
        </div>

        <router-outlet></router-outlet>


    </div>
</div>