<div class="  container_ bg-gray-50 dark:bg-gray-800  flex flex-col  border-b dark:border-gray-500 p-4 cursor-pointer hover:bg-blue-100 dark:hover:bg-gray-700 transition-colors">
    <div class="first_row flex justify-between">
        <div class="div flex m">
            <img class="w-7 h-7 rounded-full shadow-sm mr-2"
                src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
                alt="">
            <div class="h-full text-md font-semibold text-gray-700 font-sans dark:text-gray-300 ">KiNCHERO#4333</div>
        </div>
        <div class="indicator flex flex-col justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                class="text-green-500 shadow-sm" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8" />
            </svg>
        </div>
    </div>
    <div class="Second_row font-semibold text-sm font-sans  text-gray-400 justify-between flex mt-2">
        <div class="message">User:dfsdfdsfsd</div>
        <div class="message">8:30 AM</div>
    </div>
</div>