<div *ngIf="isMine !=null" class="z-30 shadow rounded-md bg-white dark:bg-gray-800  px-2 max-w-max  ">
    <div (click)="OnAction.emit()" class="  cursor-pointer transition  text-gray-600 dark:text-gray-300 ">
        <div   class="flex py-2 px-1 hover:text-blue-500 dark:hover:text-blue-500">
            <div class=" flex flex-col justify-center text-sm   font-bold w-36 mr-4 truncate ">
                <span class="text-left">Send message </span>
            </div>
            <span class="material-icons text-[22px]   my-auto text-right">send</span>
        </div>
        <div *ngIf="isMine" class="sep h-1 w-full my-[0.5px] border-b dark:border-gray-700"></div>
        <div *ngIf="isMine" (click)="edit($event)" class="flex py-2 px-1 hover:text-blue-500 dark:hover:text-blue-500">
            <div class=" flex flex-col justify-center text-sm   font-bold w-36 mr-4 truncate ">
                <span class="text-left">Edit ChatRoom </span>
            </div>
            <span class="material-icons text-[22px]   my-auto text-right">settings</span>
        </div>

        <div *ngIf="isMine" (click)="delete()" class="flex py-2 px-1 hover:text-red-500 dark:hover:text-red-500">
            <div class=" flex flex-col justify-center text-sm   font-bold w-36 mr-4 truncate ">
                <span class="text-left">Delete ChatRoom </span>
            </div>
            <span class="material-icons text-[22px]   my-auto text-right">clear</span>
        </div>

        <div class="sep h-1 w-full my-[0.5px] border-b dark:border-gray-700"></div>

        <div (click)="inviteLink()" class="flex py-2 px-1 hover:text-blue-500 dark:hover:text-blue-500">
            <div class=" flex flex-col justify-center text-sm   font-bold w-36 mr-4 truncate ">
                <span class="text-left">Copy Invite Link</span>
            </div>
            <span class="material-icons text-[22px]   my-auto text-right">content_copy</span>
        </div>

        <div *ngIf="!isMine" class="flex py-2 px-1 hover:text-red-500 dark:hover:text-red-500">
            <div class=" flex flex-col justify-center text-sm   font-bold w-36 mr-4 truncate ">
                <span class="text-left">leave ChatRoom </span>
            </div>
            <span class="material-icons text-[22px]   my-auto text-right">exit_to_app</span>
        </div>




    </div>
    <div class="sep h-1 w-full my-[0.5px] "></div>
</div>